.navbar-list a:hover {
    opacity: 0.5;
}

.menu-label:hover{
    animation: rotar 1.5s alternate;
}

@keyframes rotar {
    0% {transform: rotate(0deg);}
    20% {transform: rotate(10deg);}
    40% {transform: rotate(-15deg);} 
    60% {transform: rotate(15deg);}
    80% {transform: rotate(-10deg);}
    100%{transform: rotate(-15deg);}
}




.hero-buttons button:hover{
    color:#00223E;
    background-color: #FFA17F;
}

/* .translateY{
    animation: translateY 2s normal;
    hover{
        color:#00223E;
        background-color: #FFA17F;
    }
}

@keyframes translateY{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(20px);
    }

} */


