/* Tablet */
@media(max-width: 768px) {

    #section-hero,
    #section-description,
    .section-cards,
    #section-contacts,
    #section-tips {
        margin-right: 4vw;
        margin-left: 4vw;
    }

    .navbar {
        gap: 15px;
    }

    .cart-icon {
        height: 38px;
        margin-right: 0rem;
        margin-top: 4px;
    }

    .navbar-list {
        position: absolute;
        top: 60px;
        left: 60%;
        width: 40%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #f4f3ee;
        border: 1px solid #e7d8c9;
        border-top: 0;
        border-radius: 0 0 15px 15px;
        padding: 30px 30px;
        gap: 25px;
        z-index: 2;
        display: none;
    }

    .navbar-list a {
        font-size: 18px;
        color: #e26d5c;
    }

    /* MOSTRAMOS ICONO MENU */
    .menu-label {
        display: flex;
        order: 2;
        cursor: pointer;
    }

    .menu-label img {
        height: 35px;
        width: 35px;
    }

    #menu-toggle:checked+.navbar-list {
        display: flex;
    }

    #section-hero {
        padding: 3vw;
    }

    .hero-info {
        width: 100%;
        padding: 0vw;
    }

    .hero-info p {
        font-size: 1.75vw;
        width: 60vw;
    }

    .hero-photo {
        display: none;
    }

    .hero-buttons button {
        width: 20%;
        font-size: 2vw;
    }

    #section-description p,
    .benefit-item,
    .cards p,
    #section-tips p,
    .tips-list ul {
        font-size: 1.75vw;
    }

    .location {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: space-between;
        width: 90vw;
        padding: 2vw;
    }

    .cards {
        padding: 0vh 2vw 4vw 2vw;
    }

    .benefit-item {
        padding: 2vw 1vw;
    }

    #section-contacts {
        flex-direction: column;
        align-items: center;
        width: 90vw;
    }

    .maps {
        width: 80%;
    }

}

/* Celular */
@media(max-width: 576px) {

    #section-hero {
        padding: 0;
    }

    #section-hero,
    #section-description,
    .section-cards,
    #section-contacts,
    #section-tips {
        margin-right: 6vw;
        margin-left: 6vw;
    }

    .hero-info h1 {
        font-size: 6vw;
    }

    .hero-info p {
        font-size: 3vw;
        width: 100%;
    }

    .hero-buttons {
        width: 100%;
        gap: 15px;
    }

    .hero-buttons button {
        background: coral;
        color: whitesmoke;
        width: 30%;
        font-size: 3vw;
    }

    #section-description {
        margin-bottom: 6vh;
    }

    #section-description p {
        font-size: 3vw;
    }

    .cards {
        padding: 0vh;
    }

    .cards p {
        text-align: justify;
        font-size: 3vw;
    }

    .benefits {
        flex-wrap: wrap;
        margin-top: 2vh;
        margin-bottom: 1vh;
    }

    .benefit-item p,
    .benefit-item h3 {
        font-size: 3vw;
    }

    #section-tips p,
    .tips-list ul {
        font-size: 3vw;
    }

    .contact-cards {
        display: flex;
        flex-direction: row;
    }

    .location h2 {
        text-align: center;
        margin: 2vw 4vw 2vw 4vw;
    }

    .maps {
        width: 90%;
        height: 50%;
    }

    .a-medios {
        flex-direction: column;
    }

    .medios-envio {
        justify-content: center;
    }
    
    .footer-logo {
        height: 6vh;
    }

}