* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* Body  */

body{
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(234, 206, 180, 1) 100%);
}

/* Header */

header {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    background: rgb(0, 0, 0, 0.1);
}

.img-logo {
    border-radius: 150px;
    padding: 0.5vh;
    height: 150%;
    margin-top: 5px;
}

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    gap: 20px;
}

.navbar-list {
    gap: 30px;
}

.navbar-list a {
    color: #bb5a5a;
    font-weight: 600;
    font-size: 1vw;
}

.cart-icon {
    font-weight: 800;
    border-radius: 10px;
    height: 25px;
    padding: 5px 10px;
    margin-right: 1rem;
    cursor: pointer;
}

/* OCULTAR MENU HAMBURGUESA Y CHECKBOX */
#menu-toggle,
#cart-toggle,
.menu-label {
    display: none;
}

.cart-label {
    display: flex;
}

/* CARRITO */

.cart {
    position: absolute;
    top: 65px;
    right: 0;
    padding: 50px 30px;
    background: linear-gradient(to top, #9a8c98, #c9ada7);
    border-left: 1px solid #b5838d;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: calc(100vh - 65px);
    overflow-y: scroll;
    display: none;
    z-index: 2;
}

/* OCULTAR BARRA SCROLL DEL CARRITO

.cart::-webkit-scrollbar {
    display: none;
}

.cart h2 {
    color: lightpink;
    font-size: 20px;
    font-weight: 600;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #9a8c98;
    padding: 20px;
    border: 1px solid #b5838d;
    border-radius: 10px;
} */

/* Section Hero*/

#section-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.15rem;
}

.hero-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 50vw;
    flex-wrap: wrap;
    padding: 4vw;
}

.hero-info h1 {
    font-size: 2.5vw;
    font-weight: 900;
    color: #bb5a5a;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-info p {
    font-size: 1vw;
    width: 35vw;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

.hero-buttons button {
    background: coral;
    color: whitesmoke;
    width: fit-content;
    padding: 1.5vh 2vw;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1vw;
    text-align: center;
    transition: .5s;
}

.hero-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: fit-content;
}

.hero-img {
    margin-top: 4vh;
    width: 30vw;
    border-radius: 1.5vw;
}


/* Section Description */

#section-description {
    text-align: justify;
    margin: 2vh 8vw 10vh 8vw;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section-description p{
    font-size: 1vw;
}

#section-description p span {
    font-weight: bolder;
    color: #bb5a5a;
}

/* Section cards */

.section-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0vh 2vw 6vh 2vw;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-wrap: wrap;
    padding: 0vh 2vw 2vh 2vw;

}

.cards h2 {
    text-align: center;
    color: #b56576;
}

.cards p {
    text-align: center;
    text-justify: distribute;
    font-size: 1vw;
}

.benefits {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: top;
    margin: 0vh 2vw 2vh 2vw;
    gap: 20px;
}

.benefit-item {
    width: 100%;
    min-width: 200px;
    padding: 5px 20px;
    font-size: 1vw;
    background: #f5ebe0;
    border-radius: 5px;
    text-align: distribute;
    font-weight: 300;
    -webkit-box-shadow: 0px 5px 20px 0px rgb(77 76 76 / 54%);
    -moz-box-shadow: 0px 5px 20px 0px rgba(75, 74, 74, 0.54);
    box-shadow: 0px 5px 20px 0px rgb(46 46 46 / 54%);
}

.benefit-item p {
    padding: 5px;
}

.benefit-icon {
    padding: 3px 0 0 1px;
}

/* Section Contacts */

#section-contacts {
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
}

.location {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    width: 50%;
    margin: 2vw;

}

.location h2 {
    margin: 2vw 0vw 2vw 4vw;
    color: #b56576;
}

.contact-cards {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

.contact-info h4{
    margin: 0vw 0vw 2vw 2vw;

}

.fa-logo{
    margin-right: 3px;
}

.contact-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: 0vw 0vw 1vw 4vw;

}

.maps {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vw;
}


/* Section Tips */

#section-tips{
    background: rgb(227,213,202);
    background: linear-gradient(180deg, rgba(227,213,202,1) 50%, rgba(255,255,255,0) 100%);
    display: flex;
    flex-direction: column;
    padding: 4rem 3rem;
    min-width: 300px;
    padding: 1rem;
    margin: 0vh 2vw 2vh 2vw;
    border-radius: 20px;
    text-align: center;
}

#section-tips p{
    font-size: 1vw;
    margin-bottom: 10px;

}

.tips-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ul-tips{
    display: flex;
    flex-direction: column;
    gap:10px;
    font-size: 1vw;
}

/* Section Article */
#section-article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2vw 2vw 4vw 2vw;
}

.a-medios {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    
}

.medios-img {
    width: 50px;
    height: 30px;
    padding: 0 2px;
}

.medios-pago,
.medios-envio h5 {
    text-align: center;
}

/* Section Footer */

.section-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vh 1vw;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 5vh;
    width: 100%;
}

.footer-cr {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.footer-cr p {

    font-size: clamp(12px, 1vh, 15px);
    cursor: auto;
}

.footer-logo {
    height: 7vh;
    align-self: center;
}

/* Bubble Arrow */

.arrow {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 1;
}

.bubble-arrow {
    background-color: #e0b1cb;
}

.arrow {
    width: 45px;
    height: 45px;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
    border: #5e548e 1px solid;
}